.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 56px);
  padding: 1rem;
}

@media (max-width: 480px) {
  .main {
    align-items: flex-start;
    padding-top: 2rem;
  }
}
